/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: rgb(105,162,132);
background: linear-gradient(90deg, rgba(105,162,132,1) 29%, rgba(27,72,52,0.4276304271708683) 61%);
}

body {
  width: 90%;
  min-width: 800px;
  margin: 0 auto;
}

/* || font sizes and colors */

h1, h2, h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2a2a2a;
}

p, input, li {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 8rem;
  text-align: Left;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 5rem;
  text-align: Left;
}

h3 {
  font-size: 2.2rem;
  text-align: Left;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}
body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    background-color: rgb(105,162,132);
background: linear-gradient(90deg, rgba(105,162,132,1) 29%, rgba(27,72,52,0.4276304271708683) 61%);
font: helvetica 
}

main, header, nav, article, aside, footer, section {
background-color: rgb(105,162,132);
background: linear-gradient(90deg, rgba(105,162,132,1) 29%, rgba(27,72,52,0.4276304271708683) 61%);
  padding: 1%;
}

h1 {
  flex: 5;
  text-transform: uppercase;
}

header img {
  display: block;
  height: 60px;
  padding-top: 20.15px;
}

nav {
  height: 50px;
  flex: 100%;
  display: flex;
}
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    background-color: #333333;
  }
  
  li {
    float: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #A7DCA5;
  }
/*try fixing the nav bar with this*/
<Nav {
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="#Best monitors for bird watching:" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Best monitors for bird watching:</a>
    <a href="#Image Gallery:" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Image Gallery:</a>
    <a href="#Gear:" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Gear:</a>
    <a href="#Bird Watching Snacks:" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Bird Watching Snacks:</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
</div>
}
/nav>
/* || main layout */

main {
  display: flex;
}

article, section {
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 10px;
  padding: 1%;
}

aside a {
  display: block;
  float: left;
  width: 50%;
}

aside img {
  max-width: 100%;
}

footer {
  margin-top: 8px;
}
